body{
    background: url(Space.jpg) no-repeat ;
    background-size: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#clockContainer{  
    position: relative;

    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
    animation-name: clock;
    animation-duration:10s ;
    animation-iteration-count: infinite;

}

@keyframes clock{
    0% {opacity: 1;}
    10% {opacity:0;}
    40% {opacity:0.8;}
    60% {opacity:0;}
    80% {opacity:0.8;}
    100% {opacity:1;}
    
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    
}

#my-rocket {
    position:absolute;
    height: 10vw;
    width: 6vw; 
    background-size: 100%;
    animation-name: rocket;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rocket {
    0%   {left:10%; top:0;transform: rotate(0deg);}
    25%  {left:80%; top:0;transform: rotate(90deg);}
    50%  {left:80%; top:80%;transform: rotate(180deg);}
    75%  {left: 10%; top:80%;transform: rotate(270deg);}
    100% {left:10%; top:0; transform: rotate(360deg);}
  }